{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<script async type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
<section style="padding-top: 50px;" class="container">
  <div class="tile is-ancestor has-background-white is-shady">
    <div class="tile is-parent">
      <article class="tile is-2 is-child">
        <div class="lightbox-gallery">
            <div>{% if product.image1 %}<img src="{{ product.image1.url }}" data-image-hd="{{ product.image1.url }}" alt="{{ product.name }}" style="height: 70px; width: 70px"> {% endif %}</div>
            <div>{% if product.image2 %}<img src="{{ product.image2.url }}" data-image-hd="{{ product.image2.url }}" alt="{{ product.name }}" style="height: 70px; width: 70px"> {% endif %}</div>
            <div>{% if product.image3 %}<img src="{{ product.image3.url }}" data-image-hd="{{ product.image3.url }}" alt="{{ product.name }}" style="height: 70px; width: 70px"> {% endif %}</div>
        </div>
      </article>
      <article class="tile is-child">
        <div>{% if product.image1 %}<img src="{{ product.image1.url }}" data-image-hd="{{ product.image1.url }}" alt="{{ product.name }}" style="height: ; width: "> {% endif %}</div>
        </article>
    </div>

    <div class="tile is-parent is-vertical">

        <article class="tile is-child">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <h1 class="title">{{ product.name }}</h1>
              </div>
            </div>

              <div class="level-item">
                <form class="media-left" action="{% url "cart:cart_add" product.id %}" method="post">
                    {% csrf_token %}
                    <div class="field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          M:
                        </a>
                      </p>
                      <div class="control">
                        {{ cart_product_form }}
                      </div>
                      <div class="control">
                        {% if product.stock > 0 %}<input type="submit" value="В корзину" class="button is-primary"></input>
                        {% else %} <a class="button is-warning">Нет в наличии</a>{% endif %}
                      </div>
                    </div>

                </form>
              </div>

          </nav>
        </article>

      <article class="tile is-child">
        <p class="subtitle is-4"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></p>

        <div class="columns">
          <div class="column">
            <span class="tag subtitle is-6">Артикул:</span><br>
            <span class="tag subtitle is-6">Цена:</span><br>
            <span class="tag subtitle is-6">Цена оптом от 10м:</span><br>
            <span class="tag subtitle is-6">Страна производитель:</span>
          </div>
          <div class="column">
            <p class="subtitle is-4">{{ product.articul }}</p>
            <p class="subtitle is-4"><b>{{ product.price }}</b> грн.</p>
            <p class="subtitle is-4">{{ product.price2 }} грн.</p>
            <p class="subtitle is-4">{{ product.country }}</p>
          </div>
        </div>
      </article>
      <article class="tile is-child notification has-background-white-ter">
        <div >
          <p class="subtitle is-6">{{ product.description|safe|linebreaksbr }}</p>
        </div>
      </article>
    </div>
  </div>
</section>

{% endblock %}
