{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Каталог {% endif %}
{% endblock %}

{% block content %}
  <section class="section">
    <div class="columns">
      {% for product in products %}
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image has-text-centered">
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image1 %} {{ product.image1.url }} {% else %} {% static 'img/default.png' %} {% endif %}" style="width: auto; height: 250px" />
              </a>
            </div>
            <div class="card-content has-text-centered">
              <div class="content">
                <p class="title is-4">{{ product.name }}</p>
                <div class="columns">
                  <div class="column is-2 is-offset-2">
                    <span class=" tag">Цена:</span><br><br>
                    <span class=" tag">Артикул:</span>
                  </div>
                  <div class="column">
                    <p class="subtitle is-5"><b>{{ product.price }}</b> грн</p>
                    <p class="subtitle is-6">{{ product.articul }}</p>

                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <span class="card-footer-item">
                <a class="button is-primary" href="{{ product.get_absolute_url }}">Подробнее</a>
              </span>
            </footer>
          </div>
        </div>
          {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="columns">
          {% endif %}
      {% endfor %}
      </div>
    </section>

{% endblock %}
