{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    Оформление
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row columns">
      <div class="column is-10 is-offset-1">
        <div class="card">
          <div class="card-content">
            <div class="row columns">
              <div class="column is-6">
                  <h1 class="title">Контроль</h1>
                  {% if fail %}
                    <div class="notification is-danger">
                      <strong>Заполните форму правильно!</strong>
                    </div>
                  {% endif %}
                  <form action="." method="post">
                      {% csrf_token %}
                      {{ form.as_p }}<br>
                      <input type="submit" class="button is-success" value="Заказать">
                  </form>
              </div>
              <div class="column is-6">
                <div class="">
                  <h1 class="title">Ваш Ззаказ</h1>
                  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                      <tr>
                        <th>Наименование товара</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th><li class="list-group-item active">Сумма: {{ cart.get_total_price }} грн.</li></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      {% for item in cart %}
                      <tr>
                        <th>{{ item.product.name }}</th>
                        <th>{{ item.quantity }} м.</th>
                        <th>{{ item.price }} грн.</th>
                        <th>{{ item.total_price }} грн.</th>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
