{% extends 'shop/base.html' %}
{% block title %}
    Signup
{% endblock %}
{% block content %}
  <section class="hero is-fullheight is-primary">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-8 is-offset-2">
                    <h1 class="title">Регистрация</h1>
                    <p class="subtitle">Пожалуйста введите ваши данные.</p>
                    <div class="box">
                        <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                            <br>
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
