{% extends 'shop/base.html' %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
  <section class="hero is-fullheight is-bold is-warning">
        <div class="hero-body">
            <div class="container">
                <div class="column is-12 is-offset-">
                  <div class="content">
                    <h1 class="title has-text-centered">О нас</h1>

                      <p>Компания «NOR» NOOROLLAH HASHMY TRADING LLC (Dubai, UAE) Является производителем тканей, деятельность компании успешно развивается более 20-ти лет!<br>
                        За время своей работы на рынке, компания «NOR» зарекомендовала себя как надёжный партнёр и создала наилучшие условия работы с клиентами. Специалисты компании - постоянные гости на мировых текстильных выставках, и данный факт позволяет нашей компании постоянно держаться в русле модных тенденций и новых технологий, одними из первых на рынке тканей предлагая новинки сезонов, самые актуальные цвета и дизайн. В ассортименте компании «NOR» элитные ткани, костюмные ткани, трикотажные полотна и другие.<br> Компания постоянно расширяет ассортимент своей продукции, предлагая клиентам всё новые расцветки и фактуры текстиля. Продажа тканей осуществляется компанией оптом со склада в Киеве. С полным перечнем нашего ассортимента ткани Вы можете познакомиться на соответствующей страничке интернет магазина тканей «NOR».<br>
                        <br>
                        Где купить ткани "NOR" оптом?<br>
                        Ткани оптом можно заказать и купить на складе компании «NOR». Наш склад тканей осуществляет доставку по Киеву, оптовый заказ предполагает существенные скидки. Вы можете заказать ткань через интрнет магазин тканей по телефонам указаным на странице контакты.<br>
                        <br>
                        Сотрудничество с компанией "NOR"<br>
                        Компания "NOR" всегда рада взаимовыгодному сотрудничеству с Магазинами по продаже тканей в розницу, а также производителями текстильных изделий, салонами и ателье по пошиву одежды, индивидуальными предпринимателями. Мы приветствуем установление новых деловых контактов и всегда идём навстречу нашим партнёрам и клиентам. Склад тканей нашей компании предложит богатый выбор тканей заинтересованным в сотрудничестве с нашей фирмой, потенциальным партнёрам.</p><br>
                  </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
