{% extends 'shop/base.html' %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
  <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="column is-12">
                  <div class="content">
                    <h1 class="title has-text-centered">{{ text.title }}</h1>
                    <p style="color: black">{{ text.text1 }}</p>
                    <p style="color: black">{{ text.text2 }}</p>
                    <p style="color: black">{{ text.text3 }}</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
