<!DOCTYPE html>
{% load static %}
<html class="has-navbar-fixed-top" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Мир ткани{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.7.1-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>

{% include 'shop/navbar.html' %}

{% block content %}
{% endblock %}

    <footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
            <div class="columns">
              <div class="column is-4">
                <p>Телефоны:<br>
                +38 097 556 12 17<br>
                +38 073 737 31 61</p>
              </div>
              <div class="column is-4">
                <div class="content has-text-centered">
                  <p>
                    <a href="">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>

                    <a href="">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                  </p>
                </div>
              </div>
              <div class="column column is-4">
                <div class="field is-grouped is-grouped-multiline">
    							<div class="control">
    								<div class="tags has-addons">
    									<a class="tag is-link" href="https://ivanbochenko.github.io/">The source code is licensed</a>
    									<span class="tag is-light">© Bochenko I.А., 2018.</span>
    								</div>
    							</div>
    						</div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</footer>
		<script async type="text/javascript" src="{% static 'js/bulma.js' %}"></script>
	</body>
</html>
