{% extends 'shop/base.html' %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
  <section class="hero is-fullheight is-bold is-warning">
        <div class="hero-body">
            <div class="container">
                <div class="column is-12">
                    <h1 class="title has-text-centered">Контактная информация компании OOO "NOR"</h1>
                    <br>
                    <div class="columns">
                      <div class="column is-3">
                        <span class="tag is-danger">Название:</span><p>OOO "NOR"</p><br>
                        <span class="tag is-danger">Адрес:</span><p>Украина, Киев, Княжий затон 14Г, 02140</p><br>
                        <span class="tag is-danger">Телефон:</span><p>+38097556-12-17, Офис</p><br>
                        <span class="tag is-danger">Email:</span><p>nor.tkani@ukr.net</p><br>
                      </div>

                      <div class="column is-6">
                        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EkzQstGD0LvQuNGG0Y8g0JDQvdC00YDRltGPINCc0LDQu9C40YjQutCwLCAyLCDQmtC40ZfQsiwg0KPQutGA0LDRl9C90LAsIDAyMDAwIjASLgoUChIJrQC-Z_zP1EAR5cXHOjQghq4QAioUChIJxaza4v3P1EARwI-JhqX9b18&key=AIzaSyBbE1jmk4DRRuQl7w7bch4rWVVOwtMKPzM" allowfullscreen></iframe>                      </div>
                      </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
