{% extends 'shop/base.html' %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
  <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="column is-12">
                    <h1 class="title has-text-centered">{{ text.title }}</h1>
                    <br>
                    <div class="columns">
                      <div class="column is-3">
                        <p style="color: black">{{ text.text1 }}</p><br>
                        <p style="color: black">{{ text.text2 }}</p><br>
                        <p style="color: black">{{ text.text3 }}</p><br>
                      </div>

                      <div class="column is-6">
                        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EkzQstGD0LvQuNGG0Y8g0JDQvdC00YDRltGPINCc0LDQu9C40YjQutCwLCAyLCDQmtC40ZfQsiwg0KPQutGA0LDRl9C90LAsIDAyMDAwIjASLgoUChIJrQC-Z_zP1EAR5cXHOjQghq4QAioUChIJxaza4v3P1EARwI-JhqX9b18&key=AIzaSyBbE1jmk4DRRuQl7w7bch4rWVVOwtMKPzM" allowfullscreen></iframe>                      </div>
                      </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
