{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <section class="hero">
        <figure class="image">
            <img src="{% if image %} {{ image.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}">
        </figure>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">{{ image.name }}</h2>
            <p>{{ image.text }}</p>

            <div class="columns is-centered" >
                <div class="column">
                    <div class="card" style="height: 500px">
                        <div class="card-image">
                            <figure class="image">
                                <img style="height: 320px" src="{% if card1 %} {{ card1.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <h1 class="title is-4">{{ card1.name }}</h1>
                                </div>
                            </div>

                            <div class="content">
                                {{ card1.description }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="height: 500px">
                        <div class="card-image">
                            <figure class="image">
                                <img style="height: 320px" src="{% if card2 %} {{ card2.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                  <h1 class="title is-4">{{ card2.name }}</h1>
                                </div>
                            </div>

                            <div class="content">
                              {{ card2.description }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card" style="height: 500px">
                        <div class="card-image">
                            <figure class="image">
                              <img style="height: 320px" src="{% if card3 %} {{ card3.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                  <h1 class="title is-4">{{ card3.name }}</h1>
                                </div>
                            </div>

                            <div class="content">
                              {{ card3.description }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div3

{% endblock %}
