{% load static %}

<nav class="navbar is-fixed-top is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="{% url 'shop:main' %}">
						<img src="{% static 'img/мир-ткани.png' %}" width="130">
					</a>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">

						<div class="navbar-item has-dropdown is-hoverable">
						  <a class="navbar-link" href="{% url 'shop:categories' %}">
						    Каталог
						  </a>
						  <div class="navbar-dropdown">
								{% for c in categories %}

								 <a class="navbar-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>

							 {% endfor %}
						  </div>
						</div>
						<a class="navbar-item" href="{% url 'shop:about' %}">О нас</a>
						<a class="navbar-item" href="{% url 'shop:payship' %}">Оплата и доставка</a>
						<a class="navbar-item" href="{% url 'shop:contact' %}">Контакты</a>
						<a class="navbar-item" href="{% url 'shop:opt' %}">Оптовые поставки</a>
					</div>
					<div class="navbar-end">
						{% with totail_items=cart|length %}
							{% if cart|length > 0 %}
							<a class="navbar-item" href="{% url 'cart:cart_detail' %}">Корзина: {{ totail_items }}<i class="fas fa-shopping-cart"></i></a>
							{% endif %}
						{% endwith %}
						{% if products %}
						<div class="navbar-item">
	            <form method="GET" action="" id="searchform">
	                <input  id="searchbox" type="text" name="q" class="input" value="{{ request.GET.q }}" placeholder="Поиск...">
	            </form>
	          </div>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
