{% load static %}

<nav class="navbar is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item" href="{% url 'shop:main' %}">
						<img src="{% static 'img/мир-ткани.png' %}" width="130">
					</a>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="{% url 'shop:product_list' %}">Каталог</a>
						<a class="navbar-item" href="{% url 'shop:about' %}">О нас</a>
						<a class="navbar-item" href="{% url 'shop:payship' %}">Оплата и доставка</a>
						<a class="navbar-item" href="{% url 'shop:contact' %}">Контакты</a>
						<a class="navbar-item" href="{% url 'shop:opt' %}">Оптовые поставки</a>
					</div>
					<div class="navbar-end">
						{% with totail_items=cart|length %}
							{% if cart|length > 0 %}
							<a class="navbar-item" href="{% url 'cart:cart_detail' %}">Корзина: {{ totail_items }}<i class="fas fa-shopping-cart"></i></a>
							{% endif %}
						{% endwith %}
					</div>
				</div>
			</div>
		</nav>
