{% extends 'shop/base.html' %}
{% block title %}
    Оплата и доставка
{% endblock %}
{% block content %}
<section class="hero is-fullheight is-bold is-warning">
      <div class="hero-body">
          <div class="container">
              <div class="column is-12 is-offset-">
                <div class="content">
                  <h1 class="title has-text-centered">Оплата и доставка</h1>
                  <p  class="subtitle has-text-centered">СПОСОБЫ ДОСТАВКИ</p>
                  <p>
                    <ul>
                      <li>Самовывоз</li>
                      <li>Отправка курьерскими и транспортными службами по всей Украине (доставка оплачивается покупателем):</li>
                      <li>Новая почта</li>
                      <li>Гюнсел</li>
                      <li>Интайм</li>
                      <li>Деливери</li>
                      <li>САТ</li>
                      <li>Мист Экспрес (на следующий день)</li>
                    </ul>
                      Как правило, товар отправляется в день его оплаты (при условии поступления денег на наш счет до 15:00).
                      <br><br>
                      <p  class="subtitle has-text-centered">ОПЛАТА ТОВАРА</p>
                      <br><br>
                    <ul>
                      <li>На расчетный счет.</li>
                      <li>В случае самовывоза оплата товара производится на месте.</li>
                    </ul>
                  </p>
                </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}
