{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block title %}
    Оплата и доставка
{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="column is-12">
          <div class="content">
            <h1 style="color: " class="title has-text-centered">{{ text.title }}</h1>
            <div class="columns">
              <div class="column">
                <p style="color: ">{{ text.text1 }}</p><br>

              </div>
              <div class="column is-3">
                <img style="height: 100px; width: auto;  display: block; margin: 0 auto;" src="{% static 'img/logo-privat24.png' %}"><br>

              </div>
            </div>
            <h1 style="color: " class="title has-text-centered">{{ text.title2 }}</h1>
            <p style="color: ">{{ text.text2 }}</p><br>
            <div class="">
              <img style="height: 75px; width: auto" src="{% static 'img/ship1.png' %}">
              <img style="height: 75px; width: auto" src="{% static 'img/ship2.png' %}">
              <img style="height: 75px; width: auto" src="{% static 'img/ship3.png' %}">
              <img style="height: 75px; width: auto" src="{% static 'img/ship4.png' %}">
            </div><br>
            <p style="color: ">{{ text.text3 }}</p><br>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
